<section class="container mb-4 pb-3 pb-sm-0 mb-sm-5">
  <div class="row">
    <!-- Banner with controls-->
    <div class="col-md-5">
      <div
        class="d-flex flex-column h-100 overflow-hidden rounded-3"
        style="background-color: #e2e9ef"
      >
        <div
          class="d-flex justify-content-between px-grid-gutter py-grid-gutter"
        >
          <div>
            <h3 class="mb-1">Hoodie day</h3>
            <a class="fs-md" href="shop-grid-ls.html"
              >Shop hoodies<i class="ci-arrow-right fs-xs align-middle ms-1"></i
            ></a>
          </div>
          <div class="tns-carousel-controls" id="hoodie-day">
            <button type="button"><i class="ci-arrow-left"></i></button>
            <button type="button"><i class="ci-arrow-right"></i></button>
          </div>
        </div>
        <a class="d-none d-md-block mt-auto" href="shop-grid-ls.html"
          ><img
            class="d-block w-100"
            src="img/home/categories/cat-lg04.jpg"
            alt="For Women"
        /></a>
      </div>
    </div>
    <!-- Product grid (carousel)-->
    <div class="col-md-7 pt-4 pt-md-0">
      <div class="tns-carousel">
        <div
          class="tns-carousel-inner"
          data-carousel-options='{"nav": false, "controlsContainer": "#hoodie-day"}'
        >
          <!-- Carousel item-->
          <div>
            <div class="row mx-n2">
              <% products.forEach(function(product, index) { if (index<9){%>
              <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                <div class="card product-card card-static">
                  <a
                    class="btn-wishlist btn-sm"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    href="/addtocart/<%= product.id %>"
                    title="Add to Cart"
                  >
                    <i class="ci-cart"></i></a
                  ><a
                    class="card-img-top d-block overflow-hidden"
                    ><img src="<%= product.image[0] %>" alt="Product"
                  /></a>
                  <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1" href="/productdetail/<%= product.id %>"
                      ><%= product.slug %></a
                    >
                    <h3 class="product-title fs-sm">
                      <a href="/productdetail/<%= product.id %>"><%=product.name %></a>
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="product-price">
                        <span class="text-accent"
                          >&#8377; <%= product.price %></span
                        >
                      </div>
                      <div class="star-rating">
                        <i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%} }) %>
            </div>
          </div>
          <!-- Carousel item-->
          <div>
            <div class="row mx-n2">
              <% products.forEach(function(product, index) {if(index > 9){ %>
              <div class="col-lg-4 col-6 px-0 px-sm-2 mb-sm-4">
                <div class="card product-card card-static">
                  <button
                    class="btn-wishlist btn-sm"
                    type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Add to Cart"
                  >
                    <i class="ci-cart"></i></button
                  ><a
                    class="card-img-top d-block overflow-hidden"
                    href="#"
                    ><img src="<%= product.image[0] %>" alt="Product"
                  /></a>
                  <div class="card-body py-2">
                    <a class="product-meta d-block fs-xs pb-1" href="#"
                      ><%= product.name %></a
                    >
                    <h3 class="product-title fs-sm">
                      <a href="#"><%= product.description %></a>
                    </h3>
                    <div class="d-flex justify-content-between">
                      <div class="product-price">
                        <span class="text-accent"
                          >&#8377; <%= product.price %></span
                        >
                      </div>
                      <div class="star-rating">
                        <i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star-filled active"></i
                        ><i class="star-rating-icon ci-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
